.portfolio__produce#fade
  .portfolio__produce__title
    = image_tag "title4.png", style: "width: 250px;"
  .portfolio__produce__content
    .portfolio__produce__content__left
      = link_to "" do
        = image_tag "my-portfolio_image1.png", style: "width: 100%;"
    .portfolio__produce__content__right.fade_off
      = render "produce-text"