<div class="portfolio__produce__content__right--text">
  <h3><b>「エンジニアとして、スキルアップ」するならここ！<br>僕が卒業したスクールを紹介します！</b></h3>
  <p>
    まず先に言っておくと、宣伝でもなんでもなく、<b>僕がエンジニアになれたきっかけがここだったので</b>、
    これから<b class="marker-yellow__text-red">エンジニアになろうか迷ってる人</b>向けに何か参考になればと思ってこの記事を書きました。
    <br><br>
    ただ勘違いして欲しくないのは、金払って通ったからエンジニアになれる訳じゃなくてそれなりの努力は必要です。
    なのであえて<b class="marker-yellow">「エンジニアとして、スキルアップ」</b>と書きました。
    <br><br>
    スクールは自分の能力に付加価値を与える場なので、<b class="marker-yellow__text-red">エンジニアになろうと思ってるのに独学すらしなかった人には絶対お勧めしません。</b>
    それを踏まえた上で、記事をみて頂けると幸いです。
    <br><br>
    詳しくは<a href=""><i class="fas fa-external-link-alt"></i>コチラ</a>か、左(上)の画像をクリック。
  </p>
</div>