$green-black: rgb(135, 164, 141);
$blue-white-light: rgb(194, 194, 254);
$blue-white-dark: rgb(151, 151, 254);

.portfolio {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  font-size: 18px;
}

.portfolio__top {
  background-image: url(top_image.jpg);
  background-size: cover;
  height: 100%;
}

.portfolio__top__inner {
  background-color: rgba(0, 60, 7, 0.5);
  height: 100%;
  // position: relative;
}

.portfolio__top__inner__login {
  box-sizing: border-box;
  ul {
    padding: 30px;
    li {
      text-align: right;
      a {
        color: rgb(191, 191, 191);
        &:hover {
          color: rgb(47, 47, 250);
          text-decoration: underline;
        }
      }
    }
  }
}
.portfolio__top__inner--text {
  width: 100%;
  text-align: center;
  padding: 150px 0 200px;
  // position: absolute;
  // top: 30%;
  // right: 25%;
  color: white;
  text-align: center;
  h1 {
    font-size: 100px;
    padding-bottom: 10px;
  }
  img {
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 10px;
  }
}

.portfolio__main {
  max-width: 991px;
  padding: 50px 0;
  margin: 0 auto;
  .portfolio__main__title {
    text-align: center;
    padding-bottom: 40px;
    img {
      width: 250px;
    }
  }
  ul {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 300px;
      // height: 500px;
      border: 1px solid $green-black;
      border-radius: 3px;
      margin-bottom: 50px;
      // position: relative;
      &:hover {
        box-shadow:0px 0px 10px 5px $green-black;
        transition: 0.3s;
      }
      .card__inner__image {
        width: 100%;
        height: 200px;
        border-bottom: 1px solid $green-black;
        border-radius: 3px;
        // margin-bottom: 10px;
      }
      .card__inner__title {
        height: 50px;
        padding: 0 5px;
        font-size: 16px;
        h3 {
          padding-top: 5px;
        }
        p {
          padding-left: 10px;
          color: gray;
          font-size: 14px;
        }
      }
      .card__inner__environment {
        padding: 0 5px;
        font-size: 16px;
        h4 {
          height: 30px;
          line-height: 30px;
        }
        p {
        height: 100px;
        font-size: 14px;
        color: gray;
        padding-left: 10px;
        overflow: scroll;
        }
      }
    }
  }
}

.card__action-btn {
  // width: 270px;
  text-align: right;
  // position: absolute;
  // bottom: 0;
  // left: 190px;
  display: flex;
  justify-content: flex-end;
  a {
    padding-right: 10px;
    color: blue;
    &:hover {
      color: blue;
      opacity: 0.5;
    }
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.portfolio__low {
  background-image: url(low_image.jpg);
  background-size: cover;
  height: 100%;
}

.portfolio__low__inner {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  color: white;
  &--image {
    text-align: center;
    padding-top: 50px;
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      width: 45%;
      padding: 25px;
      h5 {
        font-size: 30px;
        padding-bottom: 10px;
      }
    }
  }
}

.profile {
  padding: 30px 0 50px;
}

.profile__left__text {
  .profile__left--image {
    width: 200px;
    padding-bottom: 10px;
  }
  b {
    display: block;
    padding-bottom: 10px;
  }
  p {
    padding-left: 15px;
  }
}

.profile__right__career {
  b {
  }
  p {
    padding-left: 10px;
  }
  i {
    padding: 5px 65px;
  }
}

.profile__right__career__link {
  display: flex;
  .text-last {
    padding: 0;
  }
}

.profile__right__career__link--show {
  padding: 0 5px;
  border-bottom: 1px solid $blue-white-light;
  &:hover {
    border-bottom: 1px solid $blue-white-dark;
    i,b {
      color: $blue-white-dark;
    }
  }
  i {
    color: $blue-white-light;
    font-size: 12px;
    padding: 0;
    vertical-align: 10%;
  }
  a {
    text-decoration: none;
  }
  b {
    color: $blue-white-light;
    
  }
}

.profile__right__career--icon {
}

.portfolio__copyright {
  box-sizing: border-box;
  background-color: black;
  height: 10vh;
  text-align: center;
  padding-top: 30px;
  small {
    color: white;
  }
}

.form-login {
  width: 300px;
  margin: 0 auto;

}


.field__box {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.remember-me {
  margin-top: 20px;
}

.actions {
  input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    margin: 10px 0;
    background-color: $green-black;
    border: 1px solid $green-black;
    &:hover {
      background-color: rgb(56, 164, 56);
      color: white;
      box-shadow:0px 0px 10px 5px $green-black;
      transition: 0.3s;
    }
  }
}

.portfolio__produce {
  padding-bottom: 50px;
}

.portfolio__produce__title {
  text-align: center;
  padding-bottom: 50px;
}

.portfolio__produce__content {
  display: flex;
}

.portfolio__produce__content__left {
  width: 50%;
  // fade用css
  display: none;
  a:hover {
    opacity: 0.7;
    translate: 0.3s;
  }
}

.portfolio__produce__content__right {
  width: 50%;
  border: 1px solid rgba(128, 128, 128, 0.3);
  // fade用css
  // display: none;
}

.portfolio__produce__content__right--text {
  padding-top: 20px;
  h3 {
    text-align: center;
  }
  p {
    padding: 20px 50px;
  }
  b.marker-yellow {
    background: linear-gradient(transparent 60%, rgb(255, 255, 72) 60%);
  }
  b.marker-yellow__text-red {
    background: linear-gradient(transparent 60%, rgb(255, 255, 72) 60%);
    color: rgb(255, 0, 0);
  }
  a {
    padding: 0 5px;
    color: rgb(0, 30, 255);
    font-weight: bold;
    &:hover {
      color: rgb(118, 134, 255);
      text-decoration: underline;
      translate: 0.3s;
    }
  }
}

.portfolio__study {
  padding-bottom: 50px;

}

.portfolio__study__title {
  text-align: center;
}

.portfolio__study__text {
  text-align: center;
  padding: 50px 0;
}

.portfolio__study__scroll-menu {
  max-width: 992px;
  margin: 0 auto;
}

.portfolio__study__scroll-menu--link {
  border: 1px solid gray;
  padding: 20px;
  height: 300px;
  overflow: scroll;
  .move-icon {
    vertical-align: top;
    padding: 3px 5px 0 0;
  }
  @keyframes fluffy1 {
    50% { transform:translateX(-5px) }
  }
  a {
    font-size: 18px;
    &:hover{
      translate: 0.3s;
      color: rgb(130, 130, 252);
      text-decoration: underline;
      .move-icon {
        animation: fluffy1 2s ease infinite;
        translate: 0.3s;
        color: blue;
      }
    }
  }
  .portfolio__study__scroll-action {
    text-align: center;
  }
}

.portfolio__study__scroll-menu--new {
  text-align: right;
  padding-top: 10px;
}



