@media only screen and (max-width: 400px) {

  .portfolio__top__inner--text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30%;
    color: white;
    text-align: center;
    h1 {
      font-size: 100px;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 10px;
    }
  }


}
